%h1 Lista zawodów
- for competition in @competitions
  .post
    %h2.title
      = link_to competition.name, competition_path(competition)
    %p.meta
      Opiekun: #{competition.organizer.email}
      %br/
      Termin ukończenia: 
      - if competition.deadline
        #{competition.deadline},
      - else
        brak, 
      status: 
      - if !competition.deadline_expired?
        w trakcie
      - else
        zakończone
      
= link_to "Dodaj nowe zawody", new_competition_path
    
