.post
  %h2.title= @problem.name
  %p.meta
    Zawody: #{@problem.competition.name}
  .entry
    %h3 Zespoły:
    %ul
      <TODO>
    %br/
    %h3 Opiekunowie:
    %ul
      - for guardian in @problem.guardians
        %li= guardian.email
    %br/
= link_to "Dodaj nowego opiekuna", new_competition_problem_guardian_membership_path(@competition,@problem)
=# link_to "Dodaj nowe zadanie", new_competition_problem_path(@competiton) #TODO:czy to na pewno ma tu byc?
    
