- if @judge_membership.errors.any?
  %div.alert-message.block-message.error
    %h4= t(:errors)
    - @judge_membership.errors.each do |attr, msg|
      %li
        = t(:field)
        %strong
          = t(attr)
        = msg
%br/
