<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome, <%= @user.email %></h1>
    <p>
      To accept invitation click <a href="http://localhost:3000/confirm<%=token%>">click</a>.
    </p>
  </body>
</html>
