= form_for [@team_invitation] do |f|
  .clearfix
    Zawody:
  .clearfix
    = f.label :user_id, "Uzytkownik"
    .input= select "team_invitation", "user_id",  User.all.collect {|p| [ p.id + p.name, p.id ] }, :class => "xlarge" 
  .clearfix.center
    = f.submit "Zapisz", :class => "btn primary"
