.not_active{
	background: #EFEFE9;
}
.competition{
  margin-bottom: 20px;
  padding: 19px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.competition h2{
    margin-bottom: 20px;
}
.competition .header{
  float: right;
  margin-right: 250px;
  font-size: 18px;
}
.competition .header ul{
  list-style: none outside none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
.competition .header ul li{
  display: block;
  padding: 5px;
}
.emptyfix{
  margin-bottom: 18px;
}
.competition .problem_list{
  list-style: none outside none;
}
.competition .problem_list li{
  padding: 10px;
}
.competition .problem_list li .problem_name{
  font-size: 16px;
  padding: 2px;
}
