      body {
        padding-top: 55px;
      }
      .user {
        float: right;
        color: white;
        line-height: 44px;
      }
      .topbar .inline-inputs label {
        float: none;
        color: white;
      }
      .topbar div > .brand, .topbar div > ul, .nav
      {
        margin-top: 4px;
      }
      .label
      {
        padding-top: 2px;
        padding-bottom: 3px;
      }
      .actions
      {
        background: none;
        padding-top: 10px;
        padding-left: 50px;
      }
      input.loginform
      {
         width: 90px;
         background-color: #ffffff;
         color: #000000;
      }


