%p
  Witaj #{@resource.email}!
%p Mo¿esz potwierdziæ chêæ za³o¿enia konta klikaj¹c w poni¿szy link aktywacyjny:
%p= link_to 'Utwórz moje konto', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
