%p
  Witaj #{@resource.email}!
%p Ktoœ poprosi³ o zresetowanie has³a do Twojego konta. Mo¿esz to zrobiæ klikaj¹c w odnoœnik poni¿ej:
%p= link_to 'Zmieñ moje has³o', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Jeœli to nie Ty, mo¿esz zignorowaæ tê wiadomoœæ lub powiadomiæ administratora serwisu.
%p Has³o nie zostanie zmienione dopóki nie ustawisz nowego klikaj¹æ w powy¿szy odnoœnik.
