%p
  #{t("helo")} #{@resource.email}!
%p = t(:reset_message)
%p= link_to t(:change_password), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p = t(:reset_message2)
